.vehicleTable {
  width: 1100px;
  height: 500px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 25px;

  .head,
  .row {
    min-height: 50px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid rgb(138, 134, 134);
    text-overflow: ellipsis;
  }

  .head {
    font-weight: 600;
  }

  .edit,
  .addVehicle {
    color: rgb(114, 164, 201);
  }

  .edit:hover,
  .addVehicle:hover {
    cursor: pointer;
    color: rgb(150, 198, 235);
  }
}
