@use '/src/assets/fonts/Inter/Inter.module.scss';

:global(#app) {
  font-family: 'Inter';
  font-size: 16px;
  display: grid;
  justify-content: center;
  color: rgb(44, 44, 44);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
